// Material Theming

// Define theme variables before importing any MDC Web component styles
// $mdc-theme-primary: midnightblue;

// Import the styles for each MDC Web component
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/checkbox/mdc-checkbox";
@import "@material/radio/mdc-radio";
@import "@material/switch/mdc-switch";
@import "@material/chips/mdc-chips";
@import "@material/circular-progress/mdc-circular-progress";
@import "@material/textfield/mdc-text-field";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
  }
  
  .main-content {
    overflow: auto;
    height: 100%;
  }

  .app-bar {
    position: absolute;
  }
// Check out the MDC Web documentation for how to use MDC Sass mixins:
// https://github.com/material-components/material-components-web
// .foo-button {
//   @include mdc-button-ink-color(lightblue);
//   @include mdc-states(lightblue);
// }
